@charset "utf-8";
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
      url(./font/NotoSansJP-Regular.woff2) format('woff2'),
      url(./font/NotoSansJP-Regular.woff) format('woff'),
      url(./font/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"),
      url(./font/NotoSansJP-Medium.woff2) format('woff2'),
      url(./font/NotoSansJP-Medium.woff) format('woff'),
      url(./font/NotoSansJP-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"),
      url(./font/NotoSansJP-Bold.woff2) format('woff2'),
      url(./font/NotoSansJP-Bold.woff) format('woff'),
      url(./font/NotoSansJP-Bold.otf) format('opentype');
}
/* ---------------------------------------- */
/* Base Style */
/* ---------------------------------------- */
body{
  color: #111111;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
  font-family: 'Noto Sans Japanese', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Helvetica, Arial, sans-serif;
  /* メイリオ・Noto Sans・MS ゴシック・MS 明朝 はfont-feature-settingsが効かない */
  /* https://qiita.com/kakuta_yu/items/97b86353582f444fb47f */
  -ms-font-feature-settings: "normal";
  /* テキストの自動拡大アルゴリズムを制御自動調整をオフ */
  /* http://tech.nitoyon.com/ja/blog/2013/02/14/text-size-adjust/ */
  -webkit-text-size-adjust: 100%;
  /* https://qiita.com/hata-mu/items/98df93516cbd3f1cc418 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
  box-sizing: border-box;
}
main {
  display:block;
}

/* ---------------------------------------- */
/* loading */
/* ---------------------------------------- */
.loading {
  position: fixed;
  z-index:200;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fff;
}
.box-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-loader .dot {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  background-color:#eee;
  border-radius: 50%;
  position: relative;
}
.box-loader .color {
  display: block;
  width:100%;
  height: 100%;
  border-radius: 50%;
  opacity:0;
  /* どのような要素の変更が予測されているかブラウザーに助言 */
  /* https://developer.mozilla.org/ja/docs/Web/CSS/will-change */
  will-change: opacity;
  transition: opacity .2s linear;
}
.box-loader .dot:nth-child(1) .color {
  background-color: #FFB4AF;
}
.box-loader .dot:nth-child(2) .color {
  background-color: #8CDCC8;
}
.box-loader .dot:nth-child(3) .color {
  background-color: #7DA0D7;
}
.box-loader .dot:nth-child(4) .color {
  background-color: #CDAF78;
}
.box-loader .dot:nth-child(5) .color {
  background-color: #FFFA82;
}

.box-loader .dot.is-colored .color {
  opacity: 1;
}

/* ---------------------------------------- */
/* header logo */
/* ---------------------------------------- */
.header-logo {
  position: fixed;
  top: 1.2rem;
  left: 1.9rem;
  z-index: 100;

}

/* ---------------------------------------- */
/* hero image */
/* ---------------------------------------- */
.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  max-height:calc(100vh - 40px);
  margin: 0;
}
.item-01 {
  background-image:url(./img/hero-slider-01.jpg);
}
.item-02 {
  background-image:url(./img/hero-slider-02.jpg);
}
.item-03 {
  background-image:url(./img/hero-slider-03.jpg);
}
.item-04 {
  background-image:url(./img/hero-slider-04.jpg);
}
.item img {
  opacity: 0;
  height: 0;
  display: block;
}

/* ---------------------------------------- */
/* hero catch 縦書き */
/* ---------------------------------------- */
.vertical {
  writing-mode: vertical-rl;
  font-weight: 700;
  z-index: 100;
  white-space: nowrap
}
.hero-catch p {
  position: relative;
}
.hero-catch span {
  position: absolute;
  opacity: 0;
  transform: translateY(10px);  
  will-change: transform, opacity;  
}
.hero-catch .catch-01 {
  font-size: 2rem;
  bottom: -1.6rem;
  right: 4rem;
}
.hero-catch .catch-02 {
  font-size: 1.4rem;
  bottom: 0rem;
  right: 8rem;
}
.hero-catch .catch-03 {
  font-size: 1.4rem;
  bottom: 1.5rem;
  right: 10rem;
}

.catch-01,
.catch-02,
.catch-03 {
  animation: fadeIn 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.catch-01 {
  animation-delay: 2.8s;
}
.catch-02 {
  animation-delay: 3.2s;
}
.catch-03 { 
  animation-delay: 3.4s;
}
@keyframes fadeIn{
  0%{
    opacity:0;
    transform: translateY(5px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
/* ---------------------------------------- */
/* hero date */
/* ---------------------------------------- */
.hero-date {
  font-size: 2rem;
  font-weight: 700;
  z-index: 100;
  margin-top: -1.6rem;
  position: absolute;
  left: 1rem;
}
.hero-date span {
  writing-mode: vertical-rl;
  font-size: 0.8rem;
}
/* ---------------------------------------- */
/* logo */
/* ---------------------------------------- */
.logo-yoga {
  z-index: 100;
  position: absolute;
  right: 4.8rem;
  top: 1rem;
  writing-mode: vertical-rl;
  white-space: nowrap
}
.logo-yoga a {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}
/* ---------------------------------------- */
/* LAYOUT */
/* ---------------------------------------- */
.l-inner{
  max-width:1070px;
  margin:0 auto;
  padding-left:25px;
  padding-right:25px;
}
/* ---------------------------------------- */
/* about */
/* ---------------------------------------- */
.sec-about{
  padding-top:200px;
  padding-bottom: 68px;
  overflow: hidden;
}
.sec-about .theme{
  position: relative;
  padding-bottom: 164px;
}
.about-theme-catch {
  max-width: 624px;
  font-size: 26px;
  line-height: 1.7;
  font-feature-settings: 'palt';
  letter-spacing: 0.1em;
}

.sec-about .about-theme-logo{
  position: absolute;
  top:-50px;
  right:77px;
  width: 223px;
  height: auto;
}
.box-emblem {
  position: relative;
  text-align: center;
  width:211px;
  height: 165px;
}
.box-emblem .emblem-main{
  position: relative;
  z-index: 2;
}
.box-emblem .circle{
  display: block;
  position: absolute;  
  border-radius: 50%;
  width:100%;
  padding-top:100%;
  left:0;
  top:10%;
  transform: scale(0);
  opacity:0;
  will-change: transform, opacity;
}
.box-emblem .circle-01{
  z-index: 1;
  background-color:#FFB4AF;
  mix-blend-mode: multiply;
  backface-visibility: hidden;
}
.box-emblem .circle-02{
  background: url(./img/pat_coffee.png) center center / cover no-repeat;
}